#json
*.json

#=> VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json



*.dll
*.exe
*.o
*.so
*.com
*.class

*.log
logs/

*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx

.Trashes
.Thumbs.db
.ehthumbs.db

tmp/
codes/